
body{
    background-image: linear-gradient(to top,rgb(7, 7, 7),rgb(77, 74, 74));
    height: 97vh;
}
#motherBox{
    height: 100%;
    #profile{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #profileText{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    nav{
        position: relative;
        left: 50%;
        top:2%;
        display: flex;
        gap: 30px;
        flex-direction: row;
        position: absolute;
        transform: translateX(-50%);
        a{
            text-decoration: none;
            font-size: 20px;
            transition: 0.2s all;
        }
        #a1:hover{
            color: aliceblue;
            text-decoration: underline;
            font-size: 25px;
        }
        #a2:hover{
            color: aliceblue;
            text-decoration: underline;
            font-size: 25px;
        }
        #a3:hover{
            color: aliceblue;
            font-size: 25px;
            text-decoration: underline;
        }
    }
    #extraText{
        position: absolute;
        top:60%;
        left: 50%;
        transform: translate(-50%,-50%);
        /* font-size: larger; */
        /* font-weight: bolder; */
    }
}
*{
    font-family: Roboto;
    color:rgb(182, 182, 182);
}