

body{
    background-color: grey;

    #motherBox{

        #titleBox{
            text-align: center;
            color:antiquewhite
        }

        #userInputBox{
            text-align: center;
            margin-top:9rem;
            #userInput{
                font-size: 1.4rem;
                border:2px solid;
                border-radius: 0.3em;

                &~#submitButton{
                    cursor: pointer;
                    border: 2px solid;
                    border-radius: 0.3em;
                    font-size: 1.4rem;
                    &:hover{
                        transform: translateY(-2px);
                        background-color: bisque;
                    }
                }
            }
        }

        #resultBox{
            text-align: center;
        }
    }
}
#homePageButton{
    position: absolute;
    top:10px;
    cursor: pointer;
}

@media (max-width:418px){
    #submitButton{
        margin-top: 40px;
    }
}